header img {
	width: 60px;
    height: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
      
    background-size: cover;
    font-family: sans-serif;
}
main {
    color: white;
}


.my-image{
	width:10%;
}
.name{
	text-align : center;
	padding-top:20px;
	vertical-align: middle;
	color: white;
	width: 90%;
}


header {
    background-color: steelblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
	box-shadow: 0 0 25px 0 black;
	
	
}


header div{
	float:left;
}

header li a {
    color: steelblue;
    text-decoration: none;
}

#navbar{
	margin-top:70px;
}

#profile{
	margin-top: 50px;
	clear:both;
	
	
}

#hobby{
	margin-top: 100px;
	
}


#link{
	margin-top: 30px;
	
}

.section{
	border: 1px solid blue;	
}

.heading{
	border-bottom: 1px solid black;
	text-align: center;
	
}
